* {
  box-sizing: border-box;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}
header.user-info {
  background-color: #d8981f;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 450px;
  width: 100%;
  color: white;
  z-index: 1;
  position: fixed;
  padding-top: 85px;
}
.username {
  font-size: 30px;
}
i {
  color: red;
  margin: 10px;
}
#new-tweet-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 1024px) {
  header.user-info {
    height: 40vh;
    width: 33vw;
    max-width: 415px;
    min-height: 360px;
    margin: 20vh 8vw auto 3vw;
    position: relative;
    padding: 0;
  }
}