* {
  box-sizing: border-box;
}

nav {
  z-index: 2;
  background-color: #ffffff00;
  color: white;
  position: fixed;
  width: 100%;
}

.nav-items {
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweeter {
  font-family: Bungee, sans-serif;
  font-size: 1.5em;
}

#tweet-navigator {
  text-decoration: none;
  color: white;
}

#new-tweet-link {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  nav {
    z-index: 3;
    height:120px;
    background-color: #4056a1;
  }
}