#error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  height: 2em;
  border-radius: .3em;
}

form footer {
  padding-top: .5em;
  font-family: Bungee;
  display: flex;
  justify-content: space-between;
}

button {
  border: 0;
  background: #4056a1;
  color: white;
}

button:hover {
  box-shadow: 0 0 .5em cadetblue;
}

textarea {
 display: flex;
 border-top-style: unset;
 border-right-style: unset;
 border-bottom-style: solid;
 border-left-style: unset;
 background-color: inherit;
 width: 100%;
 padding: 1em 0 0 0;
 resize: none;
 border-width: .4em;
 font-size: .7em;
}

textarea:focus {
  outline: none;
}